// Include prebuilt bootstrap (css)
@import (inline) "../vendor/bootstrap/dist/css/bootstrap.min.css";
@import "../vendor/bootstrap/less/variables";
@main-color : #e53d09;
@main-hover : #c73609;
@main-darker: #1a1a1a;
@main-dark  : #333333;
@main-light : #eeeeee;
@main-middle: #aaaaaa;
@offset-text: #000000;
@lightest 	: #FFFFFF;

@text       : #fff;
@offset-text: #f0f0f0;
@text-dark  : #1a1a1a;

@color-background : @main-dark;
@color-border     : lighten( #000, 80% );


@import 'modal';
@import 'topbar';
@import 'settings';
@import 'messages';
@import 'spinner';
@import 'user';

*{
	padding: 0;
	margin: 0;
	border: 0;
}
body{
	height:100%;
	width:100%;
	font-family: 'Roboto', sans-serif;
	background: @color-background;
	color:@text;
	overflow-x: hidden;
}
.clearfix{
	clear:both;
}
.left{
	background: @main-dark;
	padding:10px;
	float:left;
	width:220px;
	height:100%;
}
.left label{
	color: @offset-text;
	font-weight:500;
}
.left input{
	color: @text-dark;
	padding:5px;
	border:1px solid @color-border;
	display:block;
}
.right{
	width:auto;
	margin-left:240px;
}
.right h2{
	background-color: @main-color;
	padding:10px;
	text-align:center;
	margin:0;
}
.btn{
	-webkit-app-region: no-drag;
	padding:10px 25px;
	background: @main-color;
	color: @offset-text;
	margin: 10px 0;
	cursor:pointer;
	font-weight:500;
	text-transform:uppercase;
	border-radius:5px;
}
.typcn:hover{
	cursor:pointer;
}
