<topbar></topbar>
<md-sidenav-container class="main-container">
  <md-progress-bar *ngIf="isSearching" mode="indeterminate"></md-progress-bar>

  <md-sidenav #sidenav align="end" mode="side" opened="false" class="sidenav">
    <settings></settings>
  </md-sidenav>

  <div class="sidenav-content">
    <signin *ngIf="!loggedIn; else isLoggedIn"></signin>

    <ng-template #isLoggedIn>
      <div class="message-box">
        <message [message]="message" *ngFor="let message of messages"></message>
      </div>
    </ng-template>

  </div>
</md-sidenav-container>
