@import './../variables';
.main-container {
    width: 100vw;
    height: calc(100vh - 60px);
    overflow: visible;
}

.sidenav-content {
    padding: 20px;
    display: flex;
    height: calc(100% - 50px);
    align-items: baseline;
    justify-content: center;
}

.sidenav {
    background: $side-nav-bg;
    width: 300px;
}

.message-box {
    width: 100%;
    padding: 12px;
    background: #FFF;
    border: 1px solid #F1F2F3;
}
