<img class="profile-img" *ngIf="profile" src="https://graph.facebook.com/v2.8/{{profile?.id}}/picture?type=large" />

<label>Uppdateringsinterval <small>(sekunder)</small></label>
<md-slider min="1" [(ngModel)]="updateInterval" (ngModelChange)="setUpdateInterval($event)" step="1" max="10" thumbLabel
  tickInterval="1"></md-slider>
<md-slide-toggle [(ngModel)]="autoComment" labelPosition="before">Autokommentera</md-slide-toggle>
<md-input-container *ngIf="autoComment" class="example-full-width">
  <input mdInput placeholder="Meddelandetext">
</md-input-container>

<label *ngIf="currentEvent == null"><small>Välj ett evengemang innan du kan starta sökningen</small></label>
<button (click)="startSearch()" disabled="{{isSearching || currentEvent == null}}" class="example-full-width" md-raised-button
  color="primary">Starta</button>
<button (click)="stopSearch()" disabled="{{!isSearching}}" class="example-full-width" md-raised-button color="warn">Stoppa</button>
