.profile-img {
    margin: -40px auto 20px;
    width: 80px;
    border-radius: 50%;
    color: white;
    display: block;
}

:host {
    padding: 0 20px;
    display: block;
    color: #667C91;
}
label small{
  font-size: 0.6rem;
}
.mat-slider-horizontal {
    width: 100%;
}

.example-full-width {
    width: 100%;
}


